
*{
    margin: 0;
    padding: 0;
}
body{
    background: url("bg3.png");
    
    background-size: cover;
}
.text{
    margin-left: 72%;
   
}
ul li{
    float: left;
    margin-left: 15px;
    
    list-style: none;
    margin: 15px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li img{
    height: 25px;
   
}
ul li a:hover{
    text-decoration: underline;
}
ul li img:hover{
   contain: layout;
}
.pic{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 20px;
    margin: 15px;
}
.google h1{
    margin-top: 90px;
    font-size: 90px;
    color: #fff;
    text-align: center;
}
input{
    text-align: left;
    width: 35%;
    height: 40px;
    
    margin-left: 32%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 3px 0px 3px 50px;
    border: none;
    outline: none;
    font-size: 16px;
    overflow: hidden;
}
.icone1{
    margin-top: 20PX;
    margin-left: 33%;
    display: flex;
}
.icone1 img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    border: 2PX solid #fff;
    border-radius: 50%;
    margin: 25px;
}
.hover:hover{
    background: grey;
    opacity: 0.4;
}
.youturb img{
    background: #fff;
   
}
.meet img{
    background: #fff
}
h3{
   font-size: 14px;
  
   text-align: center;
   color: #fff;
}
.facebook img{
    background: #fff;
}
    
